<link href="~/css/career/style.css" rel="stylesheet" />

<main>
    <div class="team">
        <div class="header-text">
            <h2 class="heading-text">Join the BookHub Team!</h2>
            <p>
                Innovate, learn and work with the best team and great clients. We
                are looking for driven and talented people with vision.
            </p>
        </div>
    </div>

    <div class="gallery-container">
        <div class="gallery">
            <div class="gallery-item gallery-item-1">
                <img class="gallery-img"
                     src="https://www.raweng.com/v3/assets/bltaacb6b0c9b693c2d/bltd37c5453e11f6c16/5e5e5ac6b6214773cb3d2cca/AUC_720599.jpg?format=pjpg"
                     alt="" />
            </div>
            <div class="gallery-item gallery-item-2">
                <img class="gallery-img"
                     src="https://www.raweng.com/v3/assets/bltaacb6b0c9b693c2d/blt045ba9e846e4e580/5ecf7182a65f2c0a57053aca/June.jpg?format=pjpg"
                     alt="" />
            </div>
            <div class="gallery-item gallery-item-3">
                <img class="gallery-img"
                     src="https://www.raweng.com/v3/assets/bltaacb6b0c9b693c2d/blt519c7d399f1b05f7/5e5e5abdfa08326331361afc/AUC_7307.jpg?format=pjpg"
                     alt="" />
            </div>
            <div class="gallery-item gallery-item-4">
                <img class="gallery-img"
                     src="https://www.raweng.com/v3/assets/bltaacb6b0c9b693c2d/bltd9ec190107b7aa96/5e5e5a9bfa08326331361af6/ali-zolghadr-xT3DQ40lus4-unsplash.jpg?format=pjpg"
                     alt="" />
            </div>
            <div class="gallery-item gallery-item-5">
                <img class="gallery-img"
                     src="https://www.raweng.com/v3/assets/bltaacb6b0c9b693c2d/bltcb3d31feeb715351/5e5e5aa87365696430377cd7/AUC_7205.jpg?format=pjpg"
                     alt="" />
            </div>
        </div>
    </div>

    <div class="job-container bg-grey">
        <div class="container">
            <h2 class="heading-text">Browse Jobs</h2>
            <div class="job-form">
                <form action="">
                    <label for="department">Department</label>
                    <div class="select-container">
                        <select name="" id="">
                            <option value="all">All Departments</option>
                            <option value="Business Operations">Business Operations</option>
                            <option value="Customer Success">Customer Success</option>
                            <option value="DevOps">DevOps</option>
                            <option value="Engineering">Authors</option>
                            <option value="Finance">Finance</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="text-right jobs-count">
                <span class="">Displaying <strong>8</strong> results</span>
            </div>
            <div class="job-section">
                <h3>Current Openings</h3>
                <div class="job-row job-row-1">
                    <div class="col-left">
                        <a href="#">Application Engineer, Android</a>
                    </div>
                    <div class="col-right">
                        Posted: Oct 26th, 2020  |  Location: Mumbai
                    </div>
                </div>
                <div class="job-row job-row-2">
                    <div class="col-left">
                        <a href="#">Finance Manager</a>
                    </div>
                    <div class="col-right">
                        Posted: Oct 26th, 2020  |  Location: Mumbai
                    </div>
                </div>
                <div class="job-row job-row-3">
                    <div class="col-left">
                        <a href="#">Assistant Editor</a>
                    </div>
                    <div class="col-right">
                        Posted: Oct 26th, 2020  |  Location: Mumbai
                    </div>
                </div>
                <div class="job-row job-row-4">
                    <div class="col-left">
                        <a href="#">Hentai Artist</a>
                    </div>
                    <div class="col-right">
                        Posted: Oct 26th, 2020  |  Location: Mumbai
                    </div>
                </div>
                <div class="job-row job-row-5">
                    <div class="col-left">
                        <a href="#">Content writer</a>
                    </div>
                    <div class="col-right">
                        Posted: Oct 26th, 2020  |  Location: Mumbai
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div style=" margin: auto;
  width: 60%;
  border: 3px solid black;
text-align:center;
  padding: 10px;">
<h1 style="color:red; font-family:'Courier New'; text-align:center">Our Address:</h1>

<p>
    Unit-1,2 & 3 Building 18 10 Trade View,<br> Utopia City, Pandurang Budhkar Marg,<br> Mumbai, Maharashtra 400013
</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15089.256112457726!2d72.8166291117668!3d19.005879169256172!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cf65fa61902b%3A0xb1454dda085bd0a4!2sIKEA%20Worli%20City%20Store!5e0!3m2!1sen!2sin!4v1686548921035!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>