@{
   
}



<div>
      <img src="~/images/signup.jpg" class="d-block w-100" alt="Up to 60%">  </a>
</div>
<br>
<div style="background-color: #F1F4EE;">
    <br>
<h4><i class="fa fa-lightbulb-o"></i>FREE EBOOKS</h4>
<br>
<p>Looking for <b>free ebooks?</b> BookHub features limited-time offers for the best free books in over twenty genres, from both top-tier publishers and critically-acclaimed independent authors. These free ebooks are available on all devices, including Kindle, Nook, iPad, and Android. Check out some of our current selections</p>
<br>
</div>
<br>
  <!-- PDF INFORMATION -->
  <section class="info" id="info">
    <div class="container">
      <div class="card shadow">
        <div class="row">
          <div class="col-md-3">
            <img src="~/eBooks/Elainabk.jpg" class="w-100 book-1">
          </div>
          <div class="col-md-7 mt-3">
            <!-- Info -->
            <h3 id="title">Wandering Witch </h3><p><b>The Journey of Elaina</b></p>
            <p id="author" class="d-inline">Jougi Shiraishi</p>
            <p id="date" class="d-inline">16 April 2020</p>
            <p id="size"><i class="fas fa-file "></i> File Size <b>1MB</b></p>
            <!-- Button -->
            <div class="button">
              <a id="read" href="~/eBooks/wand.pdf" class="btn btn-primary mt-2 text-white">Read Online <i class="fas fa-book-reader fa-lg"></i></a>
              <a href="~/eBooks/wand.pdf" class="btn btn-primary mt-2 text-white" download>Download Book <i class="fas fa-download fa-lg"></i></a>
            </div>
            <!-- Description -->
            <p id="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi quo velit consequuntur, iste, impedit dignissimos vitae nesciunt et commodi quos quis iusto est iure tenetur eum amet quas temporibus esse praesentium incidunt sequi ratione. Fuga ab quas itaque enim, molestiae, totam, necessitatibus magni dolores eligendi obcaecati libero omnis iste. Facilis.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END OF PDF INFORMATION -->
  <br>
              <!-- PDF INFORMATION -->
  <section class="info" id="info">
    <div class="container">
      <div class="card shadow">
        <div class="row">
          <div class="col-md-3">
            <img src="~/eBooks/you.jpg" class="w-100 book-1">
          </div>
          <div class="col-md-7 mt-3">
            <!-- Info -->
            <h3 id="title">You are my reason to smile</h3>
            <p id="author" class="d-inline">Arpit Vageria</p>
            <p id="date" class="d-inline">16 April 2020</p>
            <p id="size"><i class="fas fa-file "></i> File Size <b>1MB</b></p>
            <!-- Button -->
            <div class="button">
              <a id="read" href="~/eBooks/you.pdf" class="btn btn-primary mt-2 text-white">Read Online <i class="fas fa-book-reader fa-lg"></i></a>
              <a href="~/eBooks/you.pdf" class="btn btn-primary mt-2 text-white" download>Download Book <i class="fas fa-download fa-lg"></i></a>
            </div>
            <!-- Description -->
            <p id="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi quo velit consequuntur, iste, impedit dignissimos vitae nesciunt et commodi quos quis iusto est iure tenetur eum amet quas temporibus esse praesentium incidunt sequi ratione. Fuga ab quas itaque enim, molestiae, totam, necessitatibus magni dolores eligendi obcaecati libero omnis iste. Facilis.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END OF PDF INFORMATION -->
  <br>
              <!-- PDF INFORMATION -->
  <section class="info" id="info">
    <div class="container">
      <div class="card shadow">
        <div class="row">
          <div class="col-md-3">
            <img src="~/eBooks/The.jpg" class="w-100 book-1">
          </div>
          <div class="col-md-7 mt-3">
            <!-- Info -->
            <h3 id="title">The Intelligent Investor</h3>
            <p id="author" class="d-inline">Benjamin Graham</p>
            <p id="date" class="d-inline">16 April 2020</p>
            <p id="size"><i class="fas fa-file "></i> File Size <b>1MB</b></p>
            <!-- Button -->
            <div class="button">
              <a id="read" href="~/eBooks/The.pdf" class="btn btn-primary mt-2 text-white">Read Online <i class="fas fa-book-reader fa-lg"></i></a>
              <a href="~/eBooks/The.pdf" class="btn btn-primary mt-2 text-white" download>Download Book <i class="fas fa-download fa-lg"></i></a>
            </div>
            <!-- Description -->
            <p id="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi quo velit consequuntur, iste, impedit dignissimos vitae nesciunt et commodi quos quis iusto est iure tenetur eum amet quas temporibus esse praesentium incidunt sequi ratione. Fuga ab quas itaque enim, molestiae, totam, necessitatibus magni dolores eligendi obcaecati libero omnis iste. Facilis.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END OF PDF INFORMATION -->
  <br>
              <!-- PDF INFORMATION -->
  <section class="info" id="info">
    <div class="container">
      <div class="card shadow">
        <div class="row">
          <div class="col-md-3">
            <img src="~/eBooks/Japan.jpg" class="w-100 book-1">
          </div>
          <div class="col-md-7 mt-3">
            <!-- Info -->
            <h3 id="title">Learn Japanese Workbook</h3>
            <p id="author" class="d-inline">Japanese Pod 101</p>
            <p id="date" class="d-inline">16 April 2020</p>
            <p id="size"><i class="fas fa-file "></i> File Size <b>1MB</b></p>
            <!-- Button -->
            <div class="button">
              <a id="read" href="~/eBooks/Japan.pdf" class="btn btn-primary mt-2 text-white">Read Online <i class="fas fa-book-reader fa-lg"></i></a>
              <a href="~/eBooks/Japan.pdf" class="btn btn-primary mt-2 text-white" download>Download Book <i class="fas fa-download fa-lg"></i></a>
            </div>
            <!-- Description -->
            <p id="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi quo velit consequuntur, iste, impedit dignissimos vitae nesciunt et commodi quos quis iusto est iure tenetur eum amet quas temporibus esse praesentium incidunt sequi ratione. Fuga ab quas itaque enim, molestiae, totam, necessitatibus magni dolores eligendi obcaecati libero omnis iste. Facilis.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END OF PDF INFORMATION -->
  <br>
              <!-- PDF INFORMATION -->
  <section class="info" id="info">
    <div class="container">
      <div class="card shadow">
        <div class="row">
          <div class="col-md-3">
            <img src="~/eBooks/Heart.jpg" class="w-100 book-1">
          </div>
          <div class="col-md-7 mt-3">
            <!-- Info -->
            <h3 id="title">Heart's Key'</h3>
            <p id="author" class="d-inline">Stephanie Van Orman</p>
            <p id="date" class="d-inline">16 April 2020</p>
            <p id="size"><i class="fas fa-file "></i> File Size <b>1MB</b></p>
            <!-- Button -->
            <div class="button">
              <a id="read" href="~/eBooks/Heart.pdf" class="btn btn-primary mt-2 text-white">Read Online <i class="fas fa-book-reader fa-lg"></i></a>
              <a href="~/eBooks/Heart.pdf" class="btn btn-primary mt-2 text-white" download>Download Book <i class="fas fa-download fa-lg"></i></a>
            </div>
            <!-- Description -->
            <p id="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi quo velit consequuntur, iste, impedit dignissimos vitae nesciunt et commodi quos quis iusto est iure tenetur eum amet quas temporibus esse praesentium incidunt sequi ratione. Fuga ab quas itaque enim, molestiae, totam, necessitatibus magni dolores eligendi obcaecati libero omnis iste. Facilis.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END OF PDF INFORMATION -->

              <!-- PDF INFORMATION -->
  <section class="info" id="info">
    <div class="container">
      <div class="card shadow">
        <div class="row">
          <div class="col-md-3">
            <img src="~/eBooks/Blood.jpg" class="w-100 book-1">
          </div>
          <div class="col-md-7 mt-3">
            <!-- Info -->
            <h3 id="title">The Blood of the Vampire</h3>
            <p id="author" class="d-inline">Florence Marryat</p>
            <p id="date" class="d-inline">16 April 2020</p>
            <p id="size"><i class="fas fa-file "></i> File Size <b>1MB</b></p>
            <!-- Button -->
            <div class="button">
              <a id="read" href="~/eBooks/Blood.pdf" class="btn btn-primary mt-2 text-white">Read Online <i class="fas fa-book-reader fa-lg"></i></a>
              <a href="~/eBooks/Blood.pdf" class="btn btn-primary mt-2 text-white" download>Download Book <i class="fas fa-download fa-lg"></i></a>
            </div>
            <!-- Description -->
            <p id="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi quo velit consequuntur, iste, impedit dignissimos vitae nesciunt et commodi quos quis iusto est iure tenetur eum amet quas temporibus esse praesentium incidunt sequi ratione. Fuga ab quas itaque enim, molestiae, totam, necessitatibus magni dolores eligendi obcaecati libero omnis iste. Facilis.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END OF PDF INFORMATION -->

              <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>